.page-lista-projetos{
   position: relative; 
   font-family: 'roboto', sans-serif;
   main{
    width: 100%;
    padding: 10px 24px;
        > h1{
            font-size: 36px;
        }
        .projetos{
            margin: 0 auto;
            max-width: 95%;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            padding: 8px;
            .projeto{
                background-color: var(--cinza);
                padding: 4px 12px;
                border-radius: 8px;
                width: 24%;
                h3{
                    font-size: 20px;
                }
            }
        }
   }
}