<div class="background-block">
    <div class="form-tarefa">
        <h1>Nova Tarefa</h1>
        <section class="prioridade input-box">
            <label>Prioridade: </label>
            <p [ngStyle]="{background: tagPrioridade.cor}" *ngIf="tagPrioridade != null">{{tagPrioridade.prioridade}}</p>
            <button (click)="prioritiesVisible = true" mat-flat-button>
                Selecionar
            </button>                        
            
        </section>
        <section class="input-box">
            <input type="text" placeholder="Objetivo" class="input-field" [(ngModel)]="objetivo">
        </section>
        <section class="input-box">
            <label>Prazo: </label><input type="date" class="input-field" [(ngModel)]="prazo">
        </section>
        <section class="input-box btn-criar">
            <button mat-flat-button (click)="cadastrarTarefa()">Criar</button>
        </section>
        <mat-icon class="btn-fechar" (click)="this.criarTarefa.emit(null)">
            close
        </mat-icon>
    </div>
    <app-prioridade (fechar)="prioritiesVisible = false" (prioridade)="setPrioridade($event)" *ngIf="prioritiesVisible"></app-prioridade>
</div>
