<div class="background-block">
    <div class="card-tarefa">
        <div class="linha">
            <h2>{{tarefa?.objetivo}}</h2>
        </div>
        <div class="linha">
            <h2>Prazo: {{tarefa?.prazo != null? trataData(tarefa?.prazo) : 'Indefinido'}}</h2>
        </div>
        <button mat-flat-button class="btn-excluir" (click)="excluir()">Excluir</button>

        <section class="box-comentarios">
            <div class="comentar">
                <input type="text" placeholder="Comentário" [(ngModel)]="comentario.conteudo"/>
                <button [disabled]="comentario.conteudo == ''" mat-flat-button (click)="inserirComentario()">Comentar</button>
            </div>
            <div class="comentarios">
                <div class="comentario" *ngFor="let com of comentarios; track: com">
                    <p class="nome-usuario">{{com.criador?.nome}}</p>
                    <p class="conteudo">{{com.conteudo}}</p>
                </div>
            </div>
        </section>


        <mat-icon (click)="this.close.emit()" class="btn-fechar">
            close
        </mat-icon>
        <p class="datas">Criado em: {{trataData(tarefa?.dataCriacao)}} Última alteração: {{trataData(tarefa?.dataAlteracao)}}</p>
    </div>
</div>